body {
  background-color: #0e0e0e;
}

@keyframes spiner {
  100% {
    transform: rotate(360deg);
  }
}

.square {
  background-color: #fff;
  width: 400px;
  height: 400px;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  margin: 0 auto;
}

.square::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  left: 130px;
  top: 130px;
  background-color: #8aa3fe;
  animation: spiner 2s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
